@use '@/shared/adaptive' as adaptive;
@use '@/shared/theme' as theme;
@use '@/shared/text' as text;

.button {
  @include text.button;

  text-decoration: none;
  border-radius: 900px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;

  padding: 12px 32px;

  @include adaptive.desktop {
    padding: 18px 42px;
  }
}

.general {
  background: rgb(var(--blue-rgb));
  color: rgb(var(--white-rgb));

  &:hover {
    background: rgb(var(--deep-blue-rgb));
  }

  transition: background-color .3s ease;
}

.secondary {
  @include theme.light {
    &.auto, &.light  {
      background: rgba(var(--blue-12-rgba));
      color: rgb(var(--deep-blue-rgb));

      &:hover {
        background: rgba(var(--blue-16-rgba));
      }

    transition: background-color .3s ease;
    }
  }

  @include theme.dark {
    &.auto, &.dark  {
      color: rgb(var(--white-rgb));
      border: 1px solid rgba(var(--white-60-rgba));

      &:hover {
        border-color: rgb(var(--white-rgb));
      }

    transition: border-color .3s ease;
    }
  }
}

