@use '@/shared/text' as text;
@use '@/shared/adaptive' as adaptive;

.pager {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 335px;

  @include adaptive.desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
  }
}

.controls {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;

  @include adaptive.desktop {
    height: 408px;
    width: fit-content;
    flex-direction: column;
  }
}

.tag {
  @include text.description;
  color: rgb(var(--white-rgb));
}

.button {
  background: none;
  border: none;
  width: 100%;
  height: 12px;

  @include adaptive.desktop {
    height: 100%;
    width: 12px;
  }

  &:not(.active) {
    cursor: pointer;

    &:hover .line {
      background-color: rgba(var(--white-16-rgba));
    }
  }

  &.active .line {
    background-color: rgba(var(--blue-rgb), 1);
  }
}

.line {
  display: block;
  background-color: rgba(var(--white-24-rgba));
  border-radius: 900px;
  margin: auto;

  width: 100%;
  height: 4px;

  @include adaptive.desktop {
    height: 100%;
    width: 4px;
  }

  transition: background-color .3s ease;
}