@use '@/shared/text' as text;

.heading {
  &.auto {
    color: rgb(var(--foreground-rgb));
  }

  &.light {
    color: rgb(var(--dark-rgb));
  }

  &.dark {
    color: rgb(var(--white-rgb));
  }
}

.h1 {
  @include text.h1
}

.h2 {
  @include text.h2
}

.h3 {
  @include text.h3
}

.h4 {
  @include text.h4
}
